* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.game-board {
    border: 1px solid #000;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.pedra {
    width: 150px;
    position: absolute;
    bottom: 0; 
    animation: movimentodapedra 2s infinite linear;
}

.naruto {
    width: 180px;
    position: absolute;
    bottom: 0;
}
.jump {
    animation: narutocorrendo 1s  linear;
}

@keyframes movimentodapedra {
    0% {
        right: -115px;
    }
    100% {
        right: 830px;
    }
}
@keyframes narutocorrendo {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}